---
---
@import "minima";

body {
  background-color: 	#e6dbc6; 
}

.center-image {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.center-propic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
